<mat-toolbar color="accent">
  <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle();">
        <mat-icon>menu</mat-icon>
      </button>
      <span>EcamAzon</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container  class="white-bg">
  <mat-sidenav  #sidenav mode="side"> 
    <mat-nav-list>
      <a mat-list-item routerLink="parcels/list"> Parcels</a>
      <a mat-list-item routerLink="products/" > Products</a>
      <a mat-list-item routerLink="warehouse/list"> Ware House</a>
      <a mat-list-item routerLink="orders"> Orders</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>